body {
    font-family: "Inter", sans-serif;
    text-align: center;
    background-color: #3FBEC3;
    margin: 0%;
    height: 100vh;
    width: 100vw;
}

* {
  box-sizing: border-box;
}

div {
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #111827;
    background-color: #34D399
}

#top {
    height: 40%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 150%;
    color: white;
    padding: 20px;
    background-color: #8B5CF6
}

#bottom {
    height: 65%;
    width: 50%;
    background-color: #059669;
    margin-top: -3%;
    margin-bottom: 7%;
}    

input {
    font-family: "Inter", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 150%;
    width: 30%;
    margin: auto; 
    margin-bottom: 20px;
    text-align: center;
    background-color: #8B5CF6;
    color: white;
    border: 1px solid white;  
    padding: 2%;
}

button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 5px;
    width: 30%;
    text-align: center;
    margin: auto;
    height: 20%;
}

h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 110%;    
}

#cont {
    height: 28%;
    width: 90%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 35px;
}    

.top, .bottom {
    margin: 0%;
}
